<!DOCTYPE html>
<html lang="pl">
<head>
<title>{{ name }} - głosy</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1>{{ name }}</h1>
<table>
  <tr>
    <th>Głosowanie</th>
      <th>Głos</th>
  </tr>
{% for vote in votes %}
  <tr>
    <td>{{ vote["title"] }}</td>
    <td>{{ vote["vote"] }}</td>
  </tr>
{% endfor %}
</table>
<div class="pagination">
  <a href="/mps/{{ mp_id }}?p={{ [1, page_index - 1] | max }}">&laquo;</a>
    {% for page in range(1, pages + 1) %}
  <a href="/mps/{{ mp_id }}?p={{ page }}" class={{ "active" if page == page_index else "inactive" }}>{{ page }}</a>
    {% endfor %}
  <a href="/mps/{{ mp_id }}?p={{ [pages, page_index + 1] | min }}">&raquo;</a>
</div>
</body>
</html>